body{
    background-image: url("../images/w05_circles.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: #709CA7;
    /* padding: auto; */
    /* margin: 100%; */
}
*{
    border: 2px solid blue;
}

img{
    position: static;
    background-color: #709CA7;
    width: 20%;
    margin: 10%;
    margin-right: auto;
    padding: 10px;
    border: rgb(67, 63, 63) 10px solid;
    /* display: ; */
}
/*  
footer{
    background-color: grey;
    width: 10%;
    display: inline;
    padding: 500;
} */

div{
    /* background-color: grey; */
    /* width: 500px; */
    /* height: 100px; */
    /* border-radius: rgb(67, 63, 63) 10px solid; */
    /* padding: 10px; */
    /* margin-top: 500px; */
    /* margin-right: auto; */
    /* align-items: center; */
    /* border-radius: 50%; */
}
/* .container{
    background-color: #709CA7;
    height: 100px;
    border-radius: 50%;
} */
img{
    border-radius: 50px;
}