body{
    background-color: pink;
    font-family: 'PT Serif', serif;
}

p, h1{
    color: white;
    text-align: center;
    padding: 10px;
    font-size: larger;
}
h1{
    font-size: 400%;
}

ol.center{
    display: inline-block;
    line-height: 1.8;
    font-size: larger;
    /* text-align: center; */
}

/* *{
    border: 2px solid blue;
} */
h1:hover{
    color: black;
}
.image{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.black{
    color: black;
}
.big{
    font-size: xx-large;
}
.bold{
    font-weight: bold;
}
.space{
    line-height: 1.8;
}